/bin/Debug/net7.0-windows/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/bin/Debug/net7.0-windows/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/bin/Debug/net7.0-windows/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/bin/Debug/net7.0-windows/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/bin/Debug/net7.0-windows/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/bin/Debug/net7.0-windows/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/bin/Debug/net7.0-windows/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/bin/Debug/net7.0-windows/Azure.Core.dll
/bin/Debug/net7.0-windows/Azure.Identity.dll
/bin/Debug/net7.0-windows/Coursework.deps.json
/bin/Debug/net7.0-windows/Coursework.dll
/bin/Debug/net7.0-windows/Coursework.exe
/bin/Debug/net7.0-windows/Coursework.pdb
/bin/Debug/net7.0-windows/Coursework.runtimeconfig.json
/bin/Debug/net7.0-windows/Humanizer.dll
/bin/Debug/net7.0-windows/Microsoft.Bcl.AsyncInterfaces.dll
/bin/Debug/net7.0-windows/Microsoft.Data.SqlClient.dll
/bin/Debug/net7.0-windows/Microsoft.EntityFrameworkCore.Abstractions.dll
/bin/Debug/net7.0-windows/Microsoft.EntityFrameworkCore.Design.dll
/bin/Debug/net7.0-windows/Microsoft.EntityFrameworkCore.dll
/bin/Debug/net7.0-windows/Microsoft.EntityFrameworkCore.Relational.dll
/bin/Debug/net7.0-windows/Microsoft.EntityFrameworkCore.SqlServer.dll
/bin/Debug/net7.0-windows/Microsoft.Extensions.Caching.Abstractions.dll
/bin/Debug/net7.0-windows/Microsoft.Extensions.Caching.Memory.dll
/bin/Debug/net7.0-windows/Microsoft.Extensions.Configuration.Abstractions.dll
/bin/Debug/net7.0-windows/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/bin/Debug/net7.0-windows/Microsoft.Extensions.DependencyInjection.dll
/bin/Debug/net7.0-windows/Microsoft.Extensions.DependencyModel.dll
/bin/Debug/net7.0-windows/Microsoft.Extensions.Logging.Abstractions.dll
/bin/Debug/net7.0-windows/Microsoft.Extensions.Logging.dll
/bin/Debug/net7.0-windows/Microsoft.Extensions.Options.dll
/bin/Debug/net7.0-windows/Microsoft.Extensions.Primitives.dll
/bin/Debug/net7.0-windows/Microsoft.Identity.Client.dll
/bin/Debug/net7.0-windows/Microsoft.Identity.Client.Extensions.Msal.dll
/bin/Debug/net7.0-windows/Microsoft.IdentityModel.Abstractions.dll
/bin/Debug/net7.0-windows/Microsoft.IdentityModel.JsonWebTokens.dll
/bin/Debug/net7.0-windows/Microsoft.IdentityModel.Logging.dll
/bin/Debug/net7.0-windows/Microsoft.IdentityModel.Protocols.dll
/bin/Debug/net7.0-windows/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/bin/Debug/net7.0-windows/Microsoft.IdentityModel.Tokens.dll
/bin/Debug/net7.0-windows/Microsoft.SqlServer.Server.dll
/bin/Debug/net7.0-windows/Mono.TextTemplating.dll
/bin/Debug/net7.0-windows/Newtonsoft.Json.dll
/bin/Debug/net7.0-windows/picture.png
/bin/Debug/net7.0-windows/System.IdentityModel.Tokens.Jwt.dll
/bin/Debug/net7.0-windows/System.Memory.Data.dll
/bin/Debug/net7.0-windows/System.Runtime.Caching.dll
